<h1>Konkurranse-oversikt</h1>

<table class="table table-striped">
	{% for konkurranse in sporsmal %}
		<tr>
			<td>
				<a href="?page={{ GET('page') }}&action=konkurranse&id={{ konkurranse.getId() }}">
					{{ konkurranse.getName() }}
				</a>
			</td>
			<td>
				<a href="//festivalen.ukm.no/konkurranse/?sporsmal={{ konkurranse.getId() }}" class="btn btn-sm btn-mini btn-xs btn-success" target="_blank">
					konkurranse
				</a>
				<a href="//grafikk.ukm.no/konkurranse/{{ konkurranse.getId() }}" class="btn btn-sm btn-mini btn-xs btn-primary" target="_blank">
					grafikk
				</a>
				<a href="?page={{ GET('page') }}&delete=konkurranse&delete_id={{ konkurranse.getId() }}" class="btn btn-sm btn-xs btn-mini btn-danger" onclick="return confirm('Sikker på at du vil slette denne?');">
					slett
				</a>
			</td>

		</tr>
	{% else %}
		<tr>
			<td>
				Ingen konkurranser er lagt til i systemet.
				<a href="?page={{ GET('page') }}&action=konkurranse&id=new">Vil du legge til en?</a>
			</td>
		</tr>
	{% endfor %}
	
		<tr>
			<td>
				<form class="form-inline" action="?page={{ GET('page') }}&id=new" method="POST">
					<div class="form-group">
						<input type="text" class="form-control" name="new_question" id="new_question" placeholder="Legg til nytt spørsmål..." />
					</div>
					<div class="form-group">
						<select class="form-control" name="new_type" id="new_type">
							<option value="standard" selected="selected">Standard</option>
							<option value="dynamisk">Dynamisk (egen-programmert GUI)</option>
						</select>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success form-control">Legg til</button>
					</div>
				</form>
			</td>
		</tr>
</table>