<h1>
	{{ sporsmal.getName() }}
	<small>
		<a href="#" id="editKonkurranse" class="btn btn-primary btn-mini btn-sm btn-xs">
			rediger
		</a>
	</small>
</h1>

<script>
	jQuery(document).on('click', '#editKonkurranse', function(){
		if( jQuery('#formKonkurranse').is(':hidden') ) {
			jQuery(this).html('avbryt');
		} else {
			jQuery(this).html('rediger');
		}
		jQuery('#formKonkurranse').slideToggle();
	});
</script>

<div id="formKonkurranse" style="display: none">
	<div class="col-12 col-xs-12">
		<form class="form" action="?page={{ GET('page') }}&action={{ GET('action') }}&id={{ GET('id') }}" method="POST">
			
			<div class="form-group">
				<label for="name">Spørsmål</label>
				<input class="form-control" type="text" name="name" id="name" value="{{ sporsmal.getName() }}" />
			</div>
			
			<div class="form-group">
				<label for="type">Type spørsmål</label>
				<select name="type" class="form-control">
					<option value="standard" {{ sporsmal.getType() == 'standard' ? 'selected="selected"' }}>Standard</option>
					<option value="dynamisk" {{ sporsmal.getType() == 'dynamisk' ? 'selected="selected"' }}>Dynamisk (egen-programmert GUI)</option>
				</select>
			</div>

			<div class="form-group">
				<label for="svar_type">Type svar deltakerne kan oppgi</label>
				<select name="svar_type" id="svar_type" class="form-control">
					<optgroup name="Standard-spørsmål">
						<option value="tekst" {{ sporsmal.getAnswerType() == 'tekst' ? 'selected="selected"' }}>Tekst</option>
					</optgroup>
					<optgroup label="Dynamiske spørsmål">
						<option value="fylke" {{ sporsmal.getAnswerType() == 'fylke' ? 'selected="selected"' }}>Et av landets fylker</option>
						<option value="innslag" {{ sporsmal.getAnswerType() == 'innslag' ? 'selected="selected"' }}>Et innslag</option>
					</optgroup>
				</select>
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn btn-success">Lagre</button>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
</div>

{% if sporsmal.getType() == 'standard' or sporsmal.getAnswerType() == 'fylke' or sporsmal.getAnswerType == 'innslag' %}
	{% if sporsmal.getAnswerType() == 'fylke' %}
		<p class="lead">Brukerne kan velge alle fylkene som svar-alternativer</p>
	{% elseif sporsmal.getAnswerType() == 'innslag' %}
		<p class="lead">Svar-alternativene er et utvalg av innslag. Hvilke innslag som er mulig å svare avgjøres av konkurranse-siden.</p>
	{% endif %}
	
	<table class="table table-striped">
		{% for alternative in sporsmal.getAlternatives().getAllByName() %}
			<tr>
				<th>
					{{ alternative.getName() }}
				</th>
				<td>
					{{ alternative.getCount() }}
				</td>
				<td>
					{% if sporsmal.getType() == 'standard' %}
						<a href="?page={{ GET('page') }}&action={{GET('action')}}&id={{GET('id')}}&delete=alternative&delete_id={{ alternative.getId() }}" class="btn btn-sm btn-xs btn-mini btn-danger">
							Slett
						</a>
					{% endif %}
				</td>
			</tr>
		{% else %}
			<tr>
				<td>Det er ikke lagt til noen alternativer enda.</td>
			</tr>
		{% endfor %}
		
		{% if sporsmal.getType() == 'standard' %}
			<tr>
				<td>
					<form class="form-inline" action="?page={{ GET('page') }}&action={{ GET('action') }}&id={{ GET('id') }}" method="POST">					
						<div class="form-group">
							<input type="text" class="form-control" name="new_alternative" id="new_alternative" placeholder="Legg til nytt alternativ..." />
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success form-control">Legg til</button>
						</div>
					</form>
				</td>
			</tr>
		{% endif %}
	</table>
{% else %}
	<div class="alert alert-danger">
		Oppgitt svar-type <code>{{ sporsmal.getAnswerType }}</code> er ukjent for systemet!
	</div>
{% endif %}